*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: white;
  }
  header{
    width: 100%;
    padding: 10px;
    background-color: rgba(10, 10, 10, 0.785);
    display: grid;
    place-content: center;
  }
  header h1{
    font-size: 24px;
  }
  body{
    height: 400vh;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }